backend/n8n-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-linking-otp",
        "options": {}
      },
      "name": "Webhook: Send OTP",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        300
      ],
      "id": "1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"success\",\n  \"message\": \"OTP sent successfully\"\n}",
        "options": {}
      },
      "name": "Respond: Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        500,
        300
      ],
      "id": "2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fintech-verify",
        "options": {}
      },
      "name": "Webhook: Fintech Verify",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        500
      ],
      "id": "3"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"authorized\": true,\n  \"partner\": \"PayMongo\",\n  \"verification_id\": \"{{$json[\"mobile\"]}}-{{$now}}\"\n}",
        "options": {}
      },
      "name": "Respond: Authorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        500,
        500
      ],
      "id": "4"
    },
    {
      "parameters": {
        "notice": "Log OTP for Demo",
        "options": {}
      },
      "name": "NoOp: Log OTP",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        300,
        200
      ],
      "id": "5"
    }
  ],
  "connections": {
    "Webhook: Send OTP": {
      "main": [
        [
          {
            "node": "NoOp: Log OTP",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond: Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Fintech Verify": {
      "main": [
        [
          {
            "node": "Respond: Authorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
